@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
}

.content {
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

.bg-over-image {
    background: linear-gradient(0deg, rgba(49, 56, 96, 0.16) 0%, rgba(21, 25, 40, 0.88) 100%);
}

@layer base {
    @font-face {
        font-family: 'Helvetica';
        src: url(/assets/fonts/helvetica/Helvetica-Bold.ttf);
        font-weight: bold;
    }

    @font-face {
        font-family: 'Helvetica';
        src: url(/assets/fonts/helvetica/Helvetica\ Regular.otf);
        font-weight: 400;
    }
}
